<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <a href="~/tailwindcss/chunk-g32fjcsr.mjs">~/tailwindcss/chunk-g32fjcsr.mjs</a>
    <a href="~/tailwindcss/chunk-htb5llop.mjs">~/tailwindcss/chunk-htb5llop.mjs</a>
    <a href="~/tailwindcss/chunk-u5sipdgo.mjs">~/tailwindcss/chunk-u5sipdgo.mjs</a>
    <a href="~/tailwindcss/chunk-vendors.mjs">~/tailwindcss/chunk-vendors.mjs</a>
    <a href="~/tailwindcss/colors.mjs">~/tailwindcss/colors.mjs</a>
    <a href="~/tailwindcss/tailwind.mjs">~/tailwindcss/tailwind.mjs</a>
    <a href="~/tailwindcss/default-theme.mjs">~/tailwindcss/default-theme.mjs</a>
    <a href="~/tailwindcss/flatten-color-palette.mjs">~/tailwindcss/flatten-color-palette.mjs</a>
    <a href="~/tailwindcss/default-theme.mjs">~/tailwindcss/default-theme.mjs</a>
    <a href="~/tailwindcss/lib.mjs">~/tailwindcss/lib.mjs</a>
    <a href="~/tailwindcss/plugin.mjs">~/tailwindcss/plugin.mjs</a>


</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
